<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <h3>About <i class="fas fa-shopping-cart"></i></h3>
            <p>We're are open and ready for business 24 / 7 Contact us ...</p>
            <div class="share">
                <a href="https://web.facebook.com/profile.php?id=61550889565388&_rdc=1&_rdr" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/Peters_Soft_Net" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com/peter_soft/" class="fab fa-instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=2349063809830"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="box">
            <h3>Dev Team Info <i class="fa-solid fa-computer"></i></h3>
            <p>We're are open and ready for business 24 / 7 Contact us ...</p>
            <div class="share">
                <a href="https://web.facebook.com/uche.victor.921/" class="fab fa-facebook-f"></a>
                <a href="https://www.linkedin.com/in/peter-soft-a93b92254/" class="fa-brands fa-linkedin"></a>
                <a href="https://www.instagram.com/petersoftnetwork/?hl=en" class="fab fa-instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=2348181734574"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="box">
            <h3>Contact Info <i class="fa fa-phone"></i></h3>
            <span><i class="fa fa-phone"></i>+234 - 8181734574</span>
            <span><i class="fab fa-whatsapp"></i>+2348181734574</span>
            <span><i class="fas fa-envelope"></i> peters.soft.network@gmail.com</span>
            <span><i class="fas fa-map-marker-alt"></i> Trans-Amadi Layout, PH City</span>
        </div>
        <div class="box">
            <h3>Credits <i class="fa-solid fa-check"></i></h3>
            <span><i class="fa-solid fa-check"></i>UI credits: Mr Web Designer</span>
            <span><i class="fa-solid fa-check"></i>UI credits: Pinterest</span>
            <span><i class="fa-solid fa-check"></i>UI credits: Dribble.com</span>
            <span><i class="fa-solid fa-check"></i>Peters Soft Developers</span>
        </div>
    </div>
</section>
